@media (max-width: 480px) {

		nav {
		position: absolute;
		height: auto;
		font-size: 13px;
		padding: 10px 0;
		.drop-shadow;

			a.hashi-logo {
			display: inline-block !important;
			background-position: center center;
			float: none !important;
			position: relative;
			width: 200px !important;
			left: 50%;
			padding: 10px 0;
			.reset;
			margin-left: -30px !important;
			}

			ul {
			position: relative;
			margin: 0 auto;
			width: 100%;
			text-align: center;
			padding: 10px 0 0;
			}
		}

		section {

			&.vagrant,
			&.customers {
			padding: 40px 0;
			}
		}

		h1 {
		font-size: 40px !important;
		line-height: 50px;
		letter-spacing: 5px !important;
		}

		blockquote {
		margin: 0;
			p {
			line-height: @base-line-height;

			}
		}

		a.brand {
		display: none !important;
		position: static !important;
		width: 200px !important;
		margin: 0 0 0 0 !important;
		background-position: center center !important;
		.debug;
		}

		article.blog-post {

			img {
			margin-bottom: 40px;
			}

			pre {
			margin: 20px 0;
			}


		}

		.page article {
		padding: 20px 0 40px;
		}

		.article-summaries {

			article {
			padding: 40px 0;

				&:first-child {
				padding: 40px 0;
				}
			}

			.big-background {
			overflow: hidden !important;
			}

		}

		.inner-page {

			.inner-page-header {
			height: @inner-page-header-height / 2;

			h1 {
			padding-top: 50px !important;
			}
		}
	}

	.hero {
	height: @hero-height - 100px;
	background-size: 200%;
	background-position: bottom center;

		.hero-content {
		padding-top: (@hero-height - @hero-content-height) / 2;
		}
	}

	.product {

		p {
		width: 100% !important;
		}

		&.vagrant {


			ul {
				margin-top: 20px;

				li {
				margin-bottom: 40px;
				}
			}

		}
	}

	.customers {

		h1 span {
		font-size: 20px;
		}

		ul.customer-logos {
			margin: 0;

			li {
			margin: 0 !important;

				img {
				float: none;
				position: relative;
				}
			}
		}
	}

	footer {
	padding: 40px 0;
	background-size: 200%;

		.contact-link a {
		font-size: 20px;
		}
	}


} //mobile

@media (min-width: 768px) and (max-width: 979px) {

	nav {

		a.hashi-logo {

		}

		ul {
		margin: 25px 20px;
		}
	}


}

@media (min-width: 1200px) {

}

@media (max-width: 979px) {

	blockquote {
	margin: 30px !important;

		p {
			font-size: 20px;
			line-height: @baseline * 2;
		}
	}

	article.blog-post p img {
	float:none;
	padding: 0;
	margin: 30px 0;
	width: 100%;
	height: auto;
	}

} //979

@media (min-width: 980px) {

} // 980

@media (max-width: 767px) {

	nav {


		a.hashi-logo {
		background: url(/images/hashi_icon.png) no-repeat 0 0 !important;
		height: 70px !important;
		width: 60px !important;
		margin: 10px 20px;
		}

		ul {

			li {
			margin-left: 5px;
			}
		}
	}




	section.hero h1 {
	//font-size: 20px; .debug;
	}

	.product {
		text-align: center;

			p {
			width: 100% !important;
			}

			&.vagrant {
			background-image: none;

			ul {
				margin-top: 20px;

				li {
				margin-bottom: 40px;
				}
			}
		}
	}

	footer,
	.inner-page-header,
	section.hero,
	.full-width {
	margin-right: -20px;
	margin-left: -20px;
	}

	.article-summaries article,
	section.product,
	section.customers {
	margin-right: -20px;
	margin-left: -20px;

		.container {
		margin: 0 20px;
		}
	}

}
