/* variables */

//color
@black: #000;
@white: #fff;
@blue: #1276bc;
@green: #43d193;
@light-gray-background: #f0f0f0;
@gray-background: #f7f6f1;
@vagrant-blue: #0094bf;
@blue-background: #1e71a1;
@dark-gray-background: #333;
@dark-gray-text: #4c4c4c;
@medium-gray-text: #666;
@code-highlight-text: #73c5dd;
@current-color: inherit;
@button-color: @green;

//type
@mono-stack: 'Inconsolata', monaco, courier, monospace;
@base-font-size: 18px;
@base-line-height: 30px;
@baseline: 20px;

@headline-span-size: 30px;

//styles

@hero-height: 500px;
@hero-content-height: 250px;

@inner-page-header-height: 120px;
