---
title: About
---

<section class="page inner-page">

<!-- page title -->
<div class="inner-page-header full-width">
	<h1>About</h1>
</div>

<!-- page contents -->
<article class="about">
<div class="container">
	<div class="row">
		<div class="span8 offset2">
			<p>
			</p>
		</div> <!-- span8 -->
	</div> <!-- row -->
</div> <!-- container -->
</article> <!-- about -->
</section> <!-- page inner-page -->
