<section class="page">
	<article class="blog-post">
		<div class="container">
			<div class="row">
				<div class="span8 offset2">

					<!-- if there's an image lead with that -->
					<h6 class="meta date">Feb 12, 2012</h6>
					<h1>
						Winston Churchill, Vagrant user, tells us his favorite features.
					</h1>
					<p>At the forefront of politics for fifty years, he held many political and cabinet positions. Before the First World War, he served as President of the Board of Trade, Home Secretary, and First Lord of the Admiralty as part of the Asquith Liberal government. During the war, he continued as First Lord of the Admiralty until <strong>the disastrous Gallipoli</strong> Campaign caused his departure from government. He then briefly resumed active army service on the Western Front as commander of the 6th Battalion of the Royal Scots Fusiliers. He returned to government as Minister of Munitions, Secretary of State for War, and Secretary of State for Air. After the War, Churchill served as Chancellor of the Exchequer in the Conservative (Baldwin) government of 1924Ð29, controversially returning the pound sterling in 1925 to the gold standard at its pre-war parity, a move widely seen as creating deflationary pressure on the UK economy. Also controversial was his opposition to increased home rule for India and his resistance to the 1936 abdication of Edward VIII.
					</p>
<!-- pre -->
<pre>
<span>$</span> vagrant feature
<span>$</span> vagrant great feature
<span>$</span> vagrant awesome feature

<span>$</span> vagrant new feature
</pre>
					<p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a <a href="#">ultrices sagittis</a>, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.
					</p>
					<!-- blockquote style -->
					<blockquote>
						<p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus.
						</p>
					</blockquote>
					<p class="pull-left">Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi <em>purus libero</em>, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.
					<img class="pull-right" src="assets/photos/blog_inline.jpg" alt="blog_inline" />
						Out of office and politically "in the wilderness" during the 1930s, Churchill took the lead in warning about Nazi Germany and in campaigning for rearmament. On the outbreak of the Second World War, he was again appointed First Lord of the Admiralty. Following the resignation of Neville Chamberlain on 10 May 1940, Churchill became Prime Minister. His steadfast refusal to consider defeat, surrender, or a compromise peace helped inspire British resistance, especially during the difficult early days of the War when Britain stood alone in its active opposition to Adolf Hitler. Churchill was particularly noted for his speeches and radio broadcasts, which helped inspire the British people. He led Britain as Prime Minister until victory over Nazi Germany had been secured.
					</p>

					<!-- inner headline -->
					<h3>
						Web Project Setup
					</h3>
					<ol>
						<li>Morbi in sem quis dui placerat ornare. Pellentesque <code>odio nisi euismod in</code> pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
						<li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
						<li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
					</ol>

				</div> <!-- span8 -->
			</div> <!-- row -->
		</div> <!-- container -->
	</article> <!-- blog-post -->

	<!-- pagination -->
	<div class="pagination full-width">
		<a class="pull-left pagination-left" href="#">
			all posts
		</a>
		<a class="pull-right pagination-right" href="#">
			next post
		</a>
	</div>

</section> <!-- page -->
