<section class="blog-landing article-summaries">

	<article class="right-aligned">
		<div class="container">
			<div class="row">
				<!-- post summary content -->
				<div class="span6">
					<img src="assets/photos/new.png" alt="new" width="287" height="284" />
				</div>	<!-- span -->
				<div class="span5">
					<h6 class="meta date">Feb 12, 2012</h6>
					<h1>
						New Products Coming Soon!
					</h1>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi.
					</p>
					<a class="read-more" href="#">read more</a>
				</div>	<!-- span -->
			</div>	<!-- row -->
		</div> <!-- container -->
	</article>

	<article class="left-aligned gray">
		<div class="container">
			<div class="row">
				<!-- post summary content -->
				<div class="span5">
					<h6 class="meta date">Feb 12, 2012</h6>
					<h1>
						Vagrant 2.0 Launches!
					</h1>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna.
					</p>
					<a class="read-more" href="#">read more</a>
				</div>	<!-- span -->
				<div class="span6">
					<img src="assets/photos/vagrant_module_hero.png" alt="vagrant_module_hero" width="660" height="485" />
				</div>	<!-- span -->
			</div>	<!-- row -->
		</div> <!-- container -->
	</article>

	<article class="center-aligned">
		<div class="container">
			<div class="row">
				<!-- post summary content -->
				<div class="span8 offset2">
					<h6 class="meta date">Feb 12, 2012</h6>
					<h1>
						All we have for this post is text, images are sometimes hard.
					</h1>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, <a href="#">ligula sollicitudin</a> laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.
					</p>
					<a class="read-more" href="#">read more</a>
				</div>	<!-- span -->
			</div>	<!-- row -->
		</div> <!-- container -->
	</article>

	<article class="right-aligned gray">
		<div class="container">
			<div class="row">
				<!-- post summary content -->
				<div class="span6">
					<img src="assets/photos/blog_header.jpg" alt="blog_header" width="460" height="287" />
				</div>	<!-- span -->
				<div class="span5 offset1">
					<h6 class="meta date">Feb 12, 2012</h6>
					<h1>
						Churchill, Vagrant user, tells us his favorite features.
					</h1>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit.
					</p>
					<a class="read-more" href="#">read more</a>
				</div>	<!-- span -->
			</div>	<!-- row -->
		</div> <!-- container -->
	</article>

	<article class="left-aligned">
		<div class="container">
			<div class="row">
				<!-- post summary content -->
				<div class="span5">
					<h6 class="meta date">Feb 12, 2012</h6>
					<h1>
						New Vagrant features.
					</h1>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna.
					</p>
					<a class="read-more" href="#">read more</a>
				</div>	<!-- span -->
				<div class="span6">

<!-- pre -->
<pre>
<span>$</span> vagrant feature
<span>$</span> vagrant great feature
<span>$</span> vagrant awesome feature

<span>$</span> vagrant new feature
</pre>

				</div>	<!-- span -->
			</div>	<!-- row -->
		</div> <!-- container -->
	</article>

	<article class="center-aligned big-background">
		<div class="container">
			<div class="row">
				<!-- post summary content -->
				<div class="span8 offset2">

					<h6 class="meta date">Feb 12, 2012</h6>
					<h1>
						Hashicorp&#8217;s new office.
					</h1>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.
					</p>
				</div>	<!-- span -->
			</div>	<!-- row -->
		</div> <!-- container -->
	</article>

</section> <!-- blog landing -->

	<div class="container">
		<div class="row">
			<div class="loading span12">
				<img src="assets/img/loader.gif" alt="loader" width="50" height="49" />
				<p>loading more posts</p>
			</div>
		</div> <!-- row -->
	</div> <!-- container -->
