<section class="hero">
<div class="container"> <!-- required by bootstrap -->
	<div class="row">
		<div class="span12">
			<div class="hero-content announcing-hashicorp">
				<h1>
					<span>Announcing</span>
					HashiCorp
				</h1>
				<h2>
					Taking Vagrant to the next level.
				</h2>
				<a href="/blog/announcing-hashicorp.html">
					<div class="button">
						<span>read more</span>
					</div>
				</a>
			</div> <!-- hero-content -->
		</div>
	</div> <!-- row -->
</div> <!-- container -->
</section> <!-- hero -->

<section class="product vagrant gray">
<div class="container">
	<div class="row">
		<div class="span12">
			<div class="row">
				<div class="span6">
					<!-- vagrant header -->
					<h1>
						<span>We make</span>
						Vagrant
					</h1>
					<!-- vagrant copy -->
					<p>
					Vagrant is a tool for building complete development environments. With an easy-to-use workflow and focus on automation, Vagrant lowers development environment setup time, increases development/production parity, and makes the "works on my machine" excuse a relic of the past.
					</p>
				</div>
				<!-- vagrant image -->
				<div class="span6">
					<img class="hidden-phone" src="/images/vagrant_module_hero.png" alt="vagrant_module_hero" width="660" height="485" />
				</div>

			</div> <!-- row -->
		</div> <!-- span12 -->
	</div> <!-- row -->
	<div class="row">
		<div class="span12">
			<div class="row">
				<!-- vagrant links -->
				<ul class="unstyled">
					<li class="span4">
					<a href="http://vagrantup.com/v1/docs/getting-started/why.html">
						<div class="product-icons learn-more"></div>
						<h3>Learn More</h3>
					</a>
					<p>
					Learn more about the problems Vagrant solves
					and how it can help your team, whether you're an individual developer
					or large company.
					</p>
					</li>
					<li class="span4">
					<a href="http://vagrantup.com/v1/docs/index.html">
						<div class="product-icons documentation"></div>
						<h3>Documentation</h3>
					</a>
					<p>
					We have a getting started guide and hundreds of pages of documentation
					to help you make the most out of Vagrant.
					</p>
					</li>
					<li class="span4">
					<a href="http://downloads.vagrantup.com/">
						<div class="product-icons get-vagrant"></div>
						<h3>Get Vagrant</h3>
					</a>
					<p>
					Download a one-click installer to get started with Vagrant in minutes,
					on most major platforms.
					</p>
					</li>
				</ul>

			</div> <!-- row -->
		</div> <!-- span12 -->
	</div>	<!-- row -->
</div> <!-- container -->
</section>

<section class="customers blue">
<div class="container"> <!-- required by bootstrap -->
	<div class="row">
		<div class="customers-content span12">
			<h1>
				<span>Just a few people who</span>
				Trust Vagrant
			</h1>
		</div> <!-- customers-content -->
	</div> <!-- row -->
	<div class="row">
		<div class="span10 offset1">
			<ul class="customer-logos unstyled">
				<li>
				<img src="/images/customer_bbc.png" alt="customer_bbc"  />
				</li>
				<li>
				<img src="/images/customer_disqus.png" alt="customer_disqus" />
				</li>
				<li>
				<img src="/images/customer_edgecast.png" alt="customer_edgecast" />
				</li>
				<li>
				<img src="/images/customer_expedia.png" alt="customer_expedia" />
				</li>
				<li>
				<img src="/images/customer_living_social.png" alt="customer_expedia" />
				</li>
				<li>
				<img src="/images/customer_mozilla.png" alt="customer_edgecast" />
				</li>
				<li>
				<img src="/images/customer_nature.png" alt="customer_disqus" />
				</li>
				<li>
				<img src="/images/customer_ngmoco.png" alt="customer_bbc" />
				</li>
				<li>
				<img src="/images/customer_nokia.png" alt="customer_expedia" />
				</li>
				<li>
				<img src="/images/customer_oreilly.png" alt="customer_edgecast" />
				</li>
				<li>
				<img src="/images/customer_tuenti.png" alt="customer_disqus" />
				</li>
				<li>
				<img src="/images/customer_yammer.png" alt="customer_bbc" />
				</li>

			</ul> <!-- customer logos -->
		</div> <!-- row -->
	</div> <!-- container -->
</section>
